<main role="main" class="container">
	<div class="row">
		<div class="col-md=8">
			{% block content %}{% endblock %}
		</div>
		<div class="col-md-4">
			<div class="content section">
				<h3>Our sidebar</h3>
				<p class='text-muted'>Para mais informações por não hesite em contactar-nos.
					<ul class="list-group">
						<li class="list-group-item list-group-item-light">Ultimo post</li>
						<li class="list-group-item list-group-item-light">Anuncios</li>
						<li class="list-group-item list-group-item-light">Calendarios</li>
						<li class="list-group-item list-group-item-light">Outros</li>
					</ul>
				</p>		
			</div>
		</div>
	</div>
</main>