<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
			<a class="navbar-brand mr-4" href="/">Django Blog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="/">Home</a>
					<a class="nav-item nav-link" href="/about">Sobre Nós</a>
				</div>
				<!-- Navbar Right Side -->
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="#">Login</a>
					<a class="nav-item nav-link" href="#">Registo</a>
				</div>
			</div>
		</div>
	</nav>
</header>