{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

	{% if title %}
		<title>My Social Blog-App - {{ title }}</title>
	{% else %}
		<title>My Social Blog-App</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
			<a class="navbar-brand mr-4" href="{% url 'blog-home' %}">My Blog</a>
			<button class="navbar-toggler" type="button" data-taggle="collapse" data-target="#navbarToggle" aria-constrols="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
					<a class="nav-item nav-link" href="{% url 'blog-about' %}">Sobre</a>
				</div>
				<!-- Navbar Right Side -->
				<div class="navbar-nav">
				{% if user.is_authenticated %}
					<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
					<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
					<a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>
				{% else %}
					<a class="nav-item nav-link" href="{% url 'login' %}">Entrar</a>
					<a class="nav-item nav-link" href="{% url 'register' %}">Registar</a>
				{% endif %}
				</div>
			</div>
		</div>
	</nav>
	</header>
	<main role="main" class="container">
	<div class="row">
		<div class="col-md=8">
			{% if messages%}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			{% block content %} {% endblock %}
		</div>
		<div class="col-md-4">	
			<div class="content section">
				<h3>Our side bar</h3>
				<p class='text-muted'>Para mais informações por favor não hesite em contactar-nos.
					<ul class="list-group">
						<li class="list-group-item list-group-item-light">Ultimo post</li>
						<li class="list-group-item list-group-item-light">Anuncios</li>
						<li class="list-group-item list-group-item-light">Calendarios</li>
						<li class="list-group-item list-group-item-light">Outros</li>
					</ul>
				</p>		
			</div>
		</div>
	</div>
	</main>
	<!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
