{% extends "blog/base.html" %}
{% block content %}
	<h3 class="ml-2">You have been logged out</h3>	
	<div class="border-top pt-3">
		<small class="text-muted">
			<a class="ml-3" href="{% url 'login' %}"><strong>Log In  Again</strong></a>
		</small>
	</div>
{% endblock content %}